<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    
    <!-- bootstrap cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="static/css/homeStyle.css" rel="stylesheet">


<style>	
 
footer{
    background-color: #111;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px ;
    color: white;
  }
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center ;
}
  
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
 

}

.footer-content p{
	max-width:500px;
	margin:10px auto;
	line-height:28px;
	font-size:14px;
   
}
.socials{
	list-style: none;
	display:flex;
	align-items: center;
	justify-content: center;
	
}

.socials li{
	margin: 0 10px;
	align-items: center;
	
}
.socials a{
	text-decoration:none;
	color: white;	
}
.socials a i{
	font-size:1.1rem;
}
.socials a:hover i{
	color:blue;
}
.footer-bottom{
	background:#000;
	width:100vw;
	padding:10px 0;
	text-align: center;
	
}
.footer-bottom p{
	font-size: 14px;
	word-spacing:2px;
	text-align: center;
	text-transform:capitalize;

}

.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}

</style>
</head>
<body>
<div style="background-color: #8b8484; font-size: 30px;" class="navbar-fixed">
        <nav style="width: 100%;" class="grey darken-4" role="navigation">
         <div style="width: 20%; float: left;" class="nav-wrapper container">
          <a style="float: left; margin-right: 1px; color: white;" href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
           <a id="logo-container" href="#" class="brand-logo" style="color: white;">Summaryzer</a>
            </div>
          <div>
            <ul style="list-style-type: none;" class="right hide-on-med-and-down">
              <li style="margin-left: 5px;"><a href="{{url_for('Main_home')}}">Home</a></li>
              <li style="margin-left: 5px;"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
              <li style="margin-left: 5px;"><a href="{{url_for('home')}}">Summarizer</a></li>
               <li style="margin-left: 5px;"><a href="{{url_for('compareSummary')}}">Compare Summarizers</a></li>
               <li style="margin-left: 5px;"><a href="{{url_for('textType')}}">Text Classifier</a></li>
               <li style="margin-left: 5px;"><a href="{{url_for('wordinfo')}}">Token information</a></li>
               <li style="margin-left: 5px;"><a href="{{url_for('index_saima')}}">Entity Checker</a></li>
               <li style="margin-left: 5px;"><a href="#aboutapp">About</a></li>
            </ul>
           </div>
         
       </nav>
</div>

<ul style="list-style-type: none; background-color: black;" id="nav-mobile" class="sidenav">
        <li><h2></h2></li>
        <li><a style="color: white; font-size: 25px; font-weight: bold ;font-family: 'Times New Roman', Times, serif" href="{{url_for('Main_home')}}">Home</a></li>
        <!--<li><a style="color: white; font-size: 25px; font-weight: bold ;font-family: 'Times New Roman', Times, serif" href="{{url_for('dashboard')}}">Dashboard</a></li>  -->
        <li><a style="color: white; font-size: 25px; font-weight: bold ;font-family: 'Times New Roman', Times, serif" href="{{url_for('home')}}">Summarizer</a></li>
        <li><a style="color: white; font-size: 25px; font-weight: bold ;font-family: 'Times New Roman', Times, serif" href="{{url_for('compareSummary')}}">Compare</a></li>
        <li><a style="color: white; font-size: 25px; font-weight: bold ;font-family: 'Times New Roman', Times, serif" href="{{url_for('textType')}}">Text Classifier</a></li>
        <li><a style="color: white; font-size: 25px; font-weight: bold ;font-family: 'Times New Roman', Times, serif" href="{{url_for('wordinfo')}}">Token information</a></li> 
        <li><a></a></li>
        <li><a style="color: white; font-size: 25px; font-weight: bold ;font-family: 'Times New Roman', Times, serif" href="{{url_for('basic_api')}}"> Token information using API</a></li>
         <li><a></a></li>
        <br> <li><a style="color: white; font-size: 25px; font-weight: bold ;font-family: 'Times New Roman', Times, serif" href="{{url_for('index_saima')}}">Entity Checker</a></li>

        <li><a style="color: white; font-size: 25px; font-weight: bold ;font-family: 'Times New Roman', Times, serif" href="#contactme">About</a></li>
</ul>



            <!--Slider -->
      <section class="slider">
        <div id="index-banner" class="parallax-container">
           <ul class="slides">
            <li>
              <img src="../static/img/img_15.jpg" alt="Unsplashed background img1" alt="">
              
			  <div class="caption center-align">
                <h2 style="margin-left: 18% ;font-weight: bolder ;color: rgb(14, 13, 13); text-shadow: 2px 2px 2px rgb(82, 79, 79);">Token Information <br>Using API</h2>
                <h5 style="font-weight: bolder; color: rgb(14, 13, 13)" class="dark gray-text text-lighten-3 hide-on-small-only">
                <span style="margin-left: 19%;">Using SpaCy, Textblob & Customied Domain</span>
                </h5>
               
                 <div class="row center">
                <a style="margin-left: 20%;" href="{{url_for('Main_home')}}" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Refresh</a>
              </div>
              </div>
            </li>
            <li>
             <img src="../static/img/img_18.jpg" alt="Unsplashed background img 1">
              <div class="caption left-align">
                <h2 style= "font-weight: bolder ;color: rgb(15, 1, 1); text-shadow: 5px 5px 5px rgb(112, 110, 110);">Token Information Using API</h2>
                <h5 style="font-weight: bolder; color: rgb(1, 12, 14);" class="black-text text-lighten-3 hide-on-small-only">
                Using SpaCy, Textblob & Customied Domain
                </h5>
                <a href="#aboutapp" class="btn btn-large waves-effect waves-light light-blue lighten-1">Learn More</a>
              </div>
            </li>
         
          </ul>
        </div>
      </section>

     <!-- <div class="container">
          <div class="alert alert info">
              <p>localhost/5000/api/tokens//{your text}</p>
          </div>
      </div>   -->

      <div class="container">
        <div class="row">
          <div class="col-md-6">
          <div>
            <h1 style="text-align: left;font-weight: bolder ;">List Of API</h1>
          </div> <br>

            <h5 style="text-align: left ;font-weight: bolder ;">API for display TOKEN: </h5>
            <div class="alert alert-info" role="alert">
                <h5>http://127.0.0.1:5000/api/tokens/"{your text}"</h5>
            </div> <br>

            <h5 style="text-align: left ;font-weight: bolder ;">API for display LEMMA WORDS: </h5>
            <div class="alert alert-info" role="alert">
              <h5>http://127.0.0.1:5000/api/lemma/"{your text}"</h5>
            </div> <br>

            <!-- <div class="alert alert-info" role="alert">.<h5>http://127.0.0.1:5000/api/ner/"{your text}"</h5></div>  -->

            <h5 style="text-align: left ;font-weight: bolder ;">API for display ENTITIES: </h5>
            <div class="alert alert-info" role="alert">
              <h5>http://127.0.0.1:5000/api/entities/"{your text}"</h5> 
            </div> <br>

            <h5 style="text-align: left ;font-weight: bolder ;">API for display SENTIMENT ANALYSIS: </h5>
            <div class="alert alert-info" role="alert">
              <h5>http://127.0.0.1:5000/api/sentiment/"{your text}"</h5> <br>
            </div>
            <!-- <div class="alert alert-info" role="alert">.<h5>http://127.0.0.1:5000/api/nlpiffy/"{your text}"</h5></div>   -->  
            
          </div> 
        </div>
      </div>

        <!-- Footer start -->
		<footer>
		<div class = "footer-content">
		<h3 style="Arial, Helvetica, sans-serif">SUMMARIZE KORO</h3>
		<p style="Arial, Helvetica, sans-serif"> A web application for Text Summarization, Entity Check & Word Information & <br> it is build with NLP and ML.</p>
		<ul class = "socials">
		<li><a href="https://facebook.com/jcharistech" target="_blank" class="white-text" ><i class="fab fa-facebook fa-4x"></i></a></li>
		<li><a href="https://facebook.com/jcharistech" target="_blank" class="white-text"><i class="fab fa-twitter fa-4x"></i></a></li>
		<li><a href="https://github.com/rokeya/" target="_blank" class="white-text"><i class="fab fa-github-square fa-4x"></i></a></li>
		<li><a href="https://gh.linkedin.com/in/jesiel-emmanuel-agbemabiase-6935b690" target="_blank" class="white-text"><i class="fab fa-linkedin fa-4x"></i></a> </li>
		<li><a href="https://www.youtube.com/channel/UC2wMHF4HBkTMGLsvZAIWzRg" target="_blank" class="white-text"><i class="fab fa-youtube-square fa-4x"></i></a></li>
		<li></li>
		<li></li>
		
		</ul>
		</div>

		<div class = "footer-bottom" >
		    <p>&copy; 2021 summarize koro, Devolped by Summarize Koro team</p>
        </div>
		</footer>



    
      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="static/js/materialize.js"></script>
      <script src="static/js/init.js"></script>




    

    <!-- bootstrap JS, jquery, POPPER -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>